{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
    <div class='set_content_width set_content_background'>    
    <table>
        <tr>
            <th style="vertical-align:top">
                <div class='category_display'>
                <h1>New Category</h1>
                <form action="{{url_for('newCategory')}}" method = 'post'>
                    <p>Category Name:</p>
                    <input type='text' size='30' name='name'>
                    <p>
                    <input type='submit' value='Create'> 
                    <a href= '{{url_for('category_admin')}}'>Cancel</a>   
                    </p>                
                </form>
                </div>
            </th>
        </tr>
    </table>
    </div>
{% endblock %}