{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

    <div class='set_content_width set_content_background'>    
    <table>
        <tr>
            <th style="vertical-align:top">
                <div class='main_display'>
                <h2>{{item.title}}</h2>
                        <p class='description_text'>
                            {{item.description}}
                        </p>
                        
                            <a href = '{{url_for('editItem', categoryID = item.cat_id, item_id = item.id) }}'>
                                Edit
                            </a>
                            |
                            <a href="{{url_for('deleteItem', categoryID=categoryID,item_id = item.id)}}" >
                                Delete
                            </a>
                            |
                            <a href={{url_for('items_list',categoryID = categoryID)}}>Cancel</a>
                </div>
            </th>
        </tr>
    </table>
    </div>
{% endblock %}